@import url("bootstrap.min.css");
@import url("normalize.css");

* {
  margin: 0;
  padding: 0;
}

.hover-color-primary:hover {
  color: #00dd60;
}

.hover-color-blue:hover {
  color: aqua;
}

.hover-color-secondary:hover {
  color: rgb(191, 212, 71);
}

.auth-header {
  text-align: center;
  font-size: 80px;
  color: rgb(68, 197, 79);
  transition: all 0.5s ease;
}

.auth-header-secondary {
  text-align: center;
  font-size: 80px;
  color: rgb(204, 81, 198);
  transition: all 0.5s ease;
}

.h-e-2 {
  height: 2em;
  line-height: 2em;
}

.h-e-4 {
  height: 4em;
  line-height: 4em;
}

.blank {
  height: 100px;
}

.blank2 {
  height: 80px;
}
body {
  background: #f3f3f3;
}
.control {
  background: white;
  border-radius: 5px;
}

.active {
  background: white;
}
.item div:hover {
  background: #f6f6f6;
}

.primary-outline-color {
  color: #00dd60;
  border-color: #00dd60;
}

.primary-outline-color:hover {
  background: #00dd60;
  color: white;
  border-color: #00dd60;
}

.outline-primary-color {
  color: #00dd60;
  border-color: #00dd60;
}

.outline-primary-color:hover {
  background: #00dd60;
  color: white;
  border-color: #00dd60;
}

.primary-color {
  background: #00dd60;
  border-color: #00dd60;
}

.primary-color:hover {
  background: #03ad4d;
  border-color: #00dd60;
}
